.wrap {
	padding: 250px 1.8rem 0;
}

.carousel-container {
	position: relative;
	max-width: 1400px;
	margin: auto;
	overflow: hidden;
}

.carousel-slide {
	display: flex;
	text-align: center;
	height: 700px;
	width: 100%;

	img {
		margin: 0;
		// padding: .1em;
		object-fit: scale-down;
	}

	@media (max-width: $bpM) {
		max-height: 500px;
	}
	@media (max-width: $bpXS) {
		max-height: 300px;
	}


}

#prevBtn,
#nextBtn {
	all: unset;
	background-color: black;
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -$gutter/2;
	padding: $gutter/2;
	z-index: 10;
	color: white;
	font-weight: bold;
	font-size: 1em;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	opacity: .4;
	&:hover {
		opacity: .8;
	}
}

#nextBtn {
	right: 2%;
}

#prevBtn {
	left: 2%;
}