[viewBag]
==
<!-- Nav -->
<!-- Header -->
<div class="container_intro">
	<header class="intro">
		<div class="intro__overlay">
			<!--	<img class="intro__image" src="./themes/Basic/assets/images/IMG_4409.jpg" alt="Iceland glacier" />
			<img class="intro__image" src="./themes/Basic/assets/images/_MG_5727.jpg" alt="Iceland glacier" />
			<img class="intro__image" src="./themes/Basic/assets/images/_MG_6001.jpg" alt="Iceland glacier" />
			<img class="intro__image" src="./themes/Basic/assets/images/_MG_6167.jpg" alt="Iceland glacier" />
			<img class="intro__image" src="./themes/Basic/assets/images/IMG_7153.jpg" alt="Iceland glacier" />
			<img class="intro__image" src="./themes/Basic/assets/images/PICT6732-Edit.jpg" alt="Iceland glacier" />-->
			<img class="intro__image" name="canvas" src="./themes/Basic/assets/images/IMG_7113.jpg" alt="Iceland glacier" />


		</div>

		<div class="intro__content">
			<div class="row">
				<div class="column large-12">
					<h1 class="intro__title"><a href="demo">Markus Morley</a></h1>

					<div class="intro__subtitle">
						<h3 class="h2">UX-Designer and Photographer</h3>
						<div class="codrops-links">

						</div>

						<div class="intro__description">

						</div>

						<button class="trigger">
							<svg width="100%" height="100%" viewBox="0 0 60 60" preserveAspectRatio="none">
								<g class="icon icon--grid">
									<rect x="32.5" y="5.5" width="22" height="22" />
									<rect x="4.5" y="5.5" width="22" height="22" />
									<rect x="32.5" y="33.5" width="22" height="22" />
									<rect x="4.5" y="33.5" width="22" height="22" />
								</g>
								<g class="icon icon--cross">
									<line x1="4.5" y1="55.5" x2="54.953" y2="5.046" />
									<line x1="54.953" y1="55.5" x2="4.5" y2="5.047" />
								</g>
							</svg>


							<span>View content</span>

						</button>

					</div><!-- /intro__subtitle -->
				</div>
			</div>


		</div><!-- /intro__content -->

	</header><!-- /intro -->


	<section class="wrap">
		<!-- Carousel container -->
		<div class="carousel-container">
			<button id="prevBtn">prev</button>
			<button id="nextBtn">next</button>
			<div class="carousel-slide">
				<img src="./themes/Basic/assets/images/_MG_6001.jpg" id="lastClone">
				<img src="./themes/Basic/assets/images/_MG_5727.jpg">
				<img src="./themes/Basic/assets/images/PICT6732-Edit.jpg">
				<img src="./themes/Basic/assets/images/IMG_7113.jpg">
				<img src="./themes/Basic/assets/images/_MG_6167.jpg">
				<img src="./themes/Basic/assets/images/_MG_6001.jpg">
				<img src="./themes/Basic/assets/images/_MG_5727.jpg" id="firstClone">
			</div>
		</div>

	</section>


	<section class="wrap">

		<!-- Slideshow container -->
		<div class="slideshow-container js-slideshow-container">

			<!-- Full-width images with number and caption text -->
			<div class="mySlides fade">
				<div class="numbertext">1 / 3</div>
				<img src="./themes/Basic/assets/images/_MG_5727.jpg" style="width:100%">
				<div class="text">Caption Text</div>
			</div>

			<div class="mySlides fade">
				<div class="numbertext">2 / 3</div>
				<img src="./themes/Basic/assets/images/PICT6732-Edit.jpg" style="width:100%">
				<div class="text">Caption Two</div>
			</div>

			<div class="mySlides fade">
				<div class="numbertext">3 / 3</div>
				<img src="./themes/Basic/assets/images/IMG_7113.jpg" style="width:100%">
				<div class="text">Caption Three</div>
			</div>

			<!-- Next and previous buttons -->
			<a class="js-slideshow-button prev" ">&#10094;</a>
	<a class=" js-slideshow-button next" ">&#10095;</a>
	<br>
	<!-- The dots/circles -->
	<div style=" text-align:left">
				<span class="js-slideshow-dot dot"></span>
				<span class="js-slideshow-dot dot"></span>
				<span class="js-slideshow-dot dot"></span>
		</div>
</div>




<div class="inner">
	<div class="major">
		<header class="major__header">
			<h2>Arcu aliquet vel lobortis ata nisl<br>
				eget augue amet aliquet nisl cep donec</h2>
			<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br>
				fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
		</header>
		<ul class="icons major__icon">
			<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
			<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
			<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
		</ul>
	</div>
</div>
<!-- ... -->

</section><!-- /items-wrap -->
<section class="items-wrap">

	<a href="#" class="item">
		<img class="item__image" src="./themes/Basic/assets/images/_MG_5727.jpg" alt="item01" />
		<h2 class="item__title">Magnificence</h2>
	</a>

	<a href="#" class="item">
		<img class="item__image" src="./themes/Basic/assets/images/IMG_4409.jpg" alt="item02" />
		<h2 class="item__title">Electrifying</h2>
	</a>
	<a href="#" class="item">
		<img class="item__image" src="./themes/Basic/assets/images/_MG_6001.jpg" alt="item01" />
		<h2 class="item__title">Magnificence</h2>
	</a>
	<!-- ... -->

</section><!-- /items-wrap -->
<section class="items-wrap">

	<a href="#" class="item">
		<img class="item__image" src="./themes/Basic/assets/images/_MG_5727.jpg" alt="item01" />
		<h2 class="item__title">Magnificence</h2>
	</a>

	<a href="#" class="item">
		<img class="item__image" src="./themes/Basic/assets/images/IMG_4409.jpg" alt="item02" />
		<h2 class="item__title">Electrifying</h2>
	</a>
	<a href="#" class="item">
		<img class="item__image" src="./themes/Basic/assets/images/_MG_6001.jpg" alt="item01" />
		<h2 class="item__title">Magnificence</h2>
	</a>

	<a href="#" class="item">
		<img class="item__image" src="./themes/Basic/assets/images/_MG_6167.jpg" alt="item02" />
		<h2 class="item__title">Electrifying</h2>
	</a>
	<a href="#" class="item">
		<img class="item__image" src="./themes/Basic/assets/images/_MG_5727.jpg" alt="item01" />
		<h2 class="item__title">Magnificence</h2>
	</a>

	<a href="#" class="item">
		<img class="item__image" src="./themes/Basic/assets/images/IMG_7113.jpg" alt="item02" />
		<h2 class="item__title">Electrifying</h2>
	</a>
	<a href="#" class="item">
		<img class="item__image" src="./themes/Basic/assets/images/PICT6732-Edit.jpg" alt="item01" />
		<h2 class="item__title">Magnificence</h2>
	</a>

	<a href="#" class="item">
		<img class="item__image" src="./themes/Basic/assets/images/IMG_7153.jpg" alt="item02" />
		<h2 class="item__title">Electrifying</h2>
	</a>
	<!-- ... -->

</section><!-- /items-wrap -->

<section class="items-wrap">

	<a href="#" class="item">
		<img class="item__image" src="./themes/Basic/assets/images/_MG_6001.jpg" alt="item01" />
		<h2 class="item__title">Magnificence</h2>
	</a>

	<a href="#" class="item">
		<img class="item__image" src="./themes/Basic/assets/images/_MG_6167.jpg" alt="item02" />
		<h2 class="item__title">Electrifying</h2>
	</a>

	<!-- ... -->

</section><!-- /items-wrap -->
</div>
